.vscode/*
*.pyc
.DS_Store
build/*
dist/*
*/star_glass.egg-info/*
.pytest_cache/*
pip-wheel-metadata/*

*.npy
*.npz
**/log/*


scripts/#load_conda.sh#
scripts/load_conda.sh
scripts/load_conda.sh~
*/scripts/slurm*
scripts/*
*.out
*.sh
*.err

.coverage

*.yml
*.yaml
!tests/*.yaml
!*default.yaml
!src/star_glass/example/*.yaml
src/star_glass/tmp/*
src/star_glass/data/*
src/star_glass/out.prof
*/sim.zarr/*

src/star_glass/example/tutorial_simulation_results/*
src/star_glass/custom/charizard.png
src/star_glass/custom/star.png
src/star_glass/example/sim_charizard_2d.yaml
src/star_glass/example/sim_telescope_2d_charizard.yaml
