.vscode/*
*.pyc
.DS_Store
build/*
dist/*
*/juno.egg-info/*
.pytest_cache/*
pip-wheel-metadata/*

*.npy
*.npz
**/log/*


scripts/#load_conda.sh#
scripts/load_conda.sh
scripts/load_conda.sh~
*/scripts/slurm*
scripts/*
*.out
*.sh
*.err

.coverage

*.yml
*.yaml
!tests/*.yaml
!*default.yaml
!juno/example/*.yaml
juno/tmp/*
juno/data/*
juno/out.prof
*/sim.zarr/*

juno/example/tutorial_simulation_results/*
juno/custom/charizard.png
juno/custom/star.png
juno/example/sim_charizard_2d.yaml
juno/example/sim_telescope_2d_charizard.yaml
juno.egg-info/*
