.vscode/*
*.pyc
.DS_Store
build/*
dist/*
*/lens_simulation.egg-info/*
.pytest_cache/*
pip-wheel-metadata/*

*.npy
*.npz
**/log/*


scripts/#load_conda.sh#
scripts/load_conda.sh
scripts/load_conda.sh~
*/scripts/slurm*
scripts/*
*.out
*.sh
*.err

.coverage

*.yml
*.yaml
!tests/*.yaml
!*default.yaml
!src/lens_simulation/example/*.yaml
src/lens_simulation/tmp/*
src/lens_simulation/data/*
src/lens_simulation/out.prof
*/sim.zarr/*

src/lens_simulation/example/tutorial_simulation_results/*
src/lens_simulation/custom/charizard.png
src/lens_simulation/custom/star.png
src/lens_simulation/example/sim_charizard_2d.yaml
src/lens_simulation/example/sim_telescope_2d_charizard.yaml
